<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments::head"></head>
<body class="container">
<h1 th:replace="fragments::header"></h1>

<nav th:replace="fragments::navigation"></nav>

<form method="post">

    <th:block th:each="eventCategory : ${eventCategories}">
        <div class="form-group">
            <label>
                <span th:text="${eventCategory.name}"></span>
                <input type="checkbox" name="eventCategoryIds" th:value="${eventCategory.id}" class="form-control">
            </label>
        </div>
    </th:block>

    <input type="submit" value="Delete Selected Events" class="btn btn-danger">
</form>

</body>
</html>